<template>
  <div class="hello">
    <tool-bar :selectedPage.sync="showPage"></tool-bar>
    <v-content>
      <v-container>
        <!-- <router-view></router-view> -->
        <data-card v-if="showPage == 0" :draw.sync="plots"></data-card>
        <monitor v-if="showPage == 1"></monitor>
        <settings v-if="showPage == 2" :updateSettings.sync="allSettings">
        </settings>
      </v-container>
    </v-content>
  </div>
</template>

<script>
import ToolBar from '@/components/ToolBar'
// dynamically shown components
import DataCard from '@/components/DataCard'
import Monitor from '@/components/Monitor'
import Settings from '@/components/Settings'

export default {
  name: 'Dash',
  components: {
    ToolBar,
    DataCard,
    Monitor,
    Settings
  },
  data: function () {
    return {
      // default states of children
      showPage: 0,
      plots : [
        {
          airCondition: 'N/A',
          moisture: 'N/A',
          luminance: 'N/A',
          coverage: 'N/A',
          plotName: 'airCondition',
          data: null
        },{
          airCondition: 'N/A',
          moisture: 'N/A',
          luminance: 'N/A',
          coverage: 'N/A',
          plotName: 'airCondition',
          data: null
        },{
          airCondition: 'N/A',
          moisture: 'N/A',
          luminance: 'N/A',
          coverage: 'N/A',
          plotName: 'airCondition',
          data: null
        },
      ],
      // camState: true,
      allSettings: {
        camState: false,
        pots: [
          {
            id: 0,
            color: { r: 255, g: 0, b: 0, a: 1 },
            lights: true,
            water: 'not watered in this session'
          }, {
            id: 1,
            color: { r: 0, g: 255, b: 0, a: 1 },
            lights: true,
            water: 'not watered in this session'
          }, {
            id: 2,
            color: { r: 0, g: 0, b: 255, a: 1 },
            lights: true,
            water: 'not watered in this session'
          }
        ]
      }
    };
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
