<template>
  <div id="datacard">
    <v-layout id="card" row wrap pb-5 v-for="(plot,index) in plots" :key="index">
      <v-flex xs12 sm4>
        <v-card height="100%">
          <v-card-title primary-title>
            <h1 class="display-4" color="green">{{ plot.coverage }}</h1>
          </v-card-title>
          <v-card-text>
            <v-layout row>
              <v-flex xs12 class="click-flex" @click="setPlot(index, 'airCondition')">
                <p class="body-1 text--secondary">air condition</p>
                <h3 class="display-1"
                  :class="{ active: plot.plotName==='airCondition'}">
                  {{ plot.airCondition }}
                </h3>
              </v-flex>
              <v-flex xs12 class="click-flex" @click="setPlot(index, 'moisture')">
                <p class="body-1 text--secondary">soil moisture</p>
                <h3 class="display-1"
                  :class="{ active: plot.plotName==='moisture'}">
                  {{ plot.moisture }}
                </h3>
              </v-flex>
              <v-flex xs12 class="click-flex" @click="setPlot(index, 'luminance')">
                <p class="body-1 text--secondary">luminance</p>
                <h3 class="display-1"
                  :class="{ active: plot.plotName==='luminance'}">
                  {{ plot.luminance }}
                </h3>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-flex xs12 sm7 offset-sm1>
        <v-card height="100%">
          <div v-if="sensor.length > 0">
            <v-card-title primary-title>
              <h1 class="headline">{{ plot.plotName }}</h1>
              </lux-chart>
            </v-card-title>
            <v-card-text>
              <lux-chart
                :chart-data="plot.data"
                :option="chartOption"
                :height="100">
              </lux-chart>
            </v-card-text>
          </div>
          <h1
            v-else
            class="display-3 text--secondary"
            style="padding: 95px 0">
            There is no data yet
          </h1>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import LuxChart from '@/components/LuxChart'

var stamp = [
  [0,0,0,0,0,0,0,0,0,0],
  [0,0,0,0,0,0,0,0,0,0],
  [0,0,0,0,0,0,0,0,0,0]
];
var measurement = [
  [0,0,0,0,0,0,0,0,0,0],
  [0,0,0,0,0,0,0,0,0,0],
  [0,0,0,0,0,0,0,0,0,0]
];
var msrmnt = [
  [0,0,0,0,0,0,0,0,0,0],
  [0,0,0,0,0,0,0,0,0,0],
  [0,0,0,0,0,0,0,0,0,0]
];
var json;
// var sensor = [];

export default {
  name: 'DataCard',
  components: {
    LuxChart
  },
  props: {
    showPlot: {type: String, required: false, default: 'airCondition'},
    draw: {type: Array, required: true}
  },
  data: function () {
    return {
      plots: [],
      sensor: [],
      chartOption: { responsive: true, maintainAspectRatio: false }
    };
  },
  mounted: function () {
    this.plots = this.draw;
  },
  methods: {
    generateData(idx) {
      const maxLength = 10
      if (measurement[idx].length < maxLength) {
        stamp[idx].push(json.ts)
        measurement[idx].push(this.sensor[idx])
      } else if (measurement[idx].length >= maxLength) {
        stamp[idx].shift();
        measurement[idx].shift();
        stamp[idx].push(json.ts)
        measurement[idx].push(this.sensor[idx]);
      }
      // update data to be drawn
      this.plots[idx].data = {
        labels: stamp[idx],
        datasets: [
          {
            label: this.plots[idx].plotName,
            // backgroundColor: "rgba(255, 198, 84, 0.7)",
            backgroundColor: "rgba(77, 182, 172, 0.7)",
            data: measurement[idx]
          }
        ]
      }
    },
    setPlot(idx, name) {
      this.plots[idx].plotName = name;
      // this.$emit('update:draw', this.plots)
      measurement[idx] = [0,0,0,0,0,0,0,0,0,0];
      stamp[idx] = [0,0,0,0,0,0,0,0,0,0];
    }
  },
  watch: {
    draw: function (newVal, oldVal) {
      this.plots = newVal
    },
    plots: function (newVal, oldVal) {
      this.$emit('update:draw', newVal)
    }
  },
  sockets: {
    connect: function () {
      console.log('socket connected');
    },
    mqtt: function (data) {
      console.log(data);
      json = JSON.parse(data);

      for (var i = 0; i < 3; i++) {
        // set which to plot
        if (this.plots[i].plotName === 'airCondition') {
          this.sensor[i] = json.airCondition[0];
        } else if (this.plots[i].plotName === 'moisture') {
            this.sensor[i] = json.info[i].moisture;
        } else if (this.plots[i].plotName === 'luminance') {
          // this.sensor[i] = json.luminance;
        }
        this.plots[i].airCondition = json.airCondition[0];
        this.plots[i].moisture = json.info[i].moisture;
        // this.plots[i].luminance = json.luminance.toFixed(1);
        var percent = json.info[i].coverage*100;
        this.plots[i].coverage = percent.toFixed(1) +' %';
        // this.fillData()
        this.generateData(i)
      }
    }
  }
}
</script>
<style scoped>
#card {
  text-align: center;
}
.click-flex {
  cursor: pointer;
}
.click-flex:hover {
  background-color: #e8e8e8;
}
.display-4 {
  color: #CDDC39;
}
/* .body-1 {
  color: #999999;
} */
.active {
  color: #FFC107;
}
</style>
