<template>
  <div>
    <h1>Monitor</h1>
    <!-- <p>{{ image }}</p> -->
    <!-- <img :src="'data:image/jpeg;base64,'+ image" alt="plant"></img> -->
    <!-- <v-card> -->
    <div v-for="(img,ind) in images">
      <!-- <img class="text-xs-center" :src="'data:image/jpeg;base64,'+ image" alt="plant"></img> -->
      <img class="text-xs-center" :src="'data:image/jpeg;base64,'+ img" alt="array"></img>
      <!-- <v-card-media :src="'data:image/jpeg;base64,'+ image" height="400px"></v-card-media> -->
    </div>
    <!-- </v-card> -->
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      // image: '',
      json: [],
      images: ['','','']
    };
  },
  sockets: {
    shot: function (data) {
      // this.image = data
      // console.log(data);
      this.json = JSON.parse(data)
      // this.images[0] = data

      this.$set(this.images, 0, this.json[0])
      this.$set(this.images, 1, this.json[1])
      this.$set(this.images, 2, this.json[2])
      // console.log(typeof this.image[0]);
    }
  }
}
</script>
<style scoped>
</style>
