<template>
  <div id="settings">
    <v-list class="elevation-3" two-line mb-5>
      <v-list-tile>
        <v-list-tile-content>
          <h3>camera view</h3>
          <p class="text--secondary">show realtime camera view</p>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-flex>
            <v-switch v-model="dset.camState"></v-switch>
          </v-flex>
        </v-list-tile-action>
      </v-list-tile>
      <!-- <div v-for="(pot, index) in dset.pots" :key="pot.id"> -->
      <!-- <div v-for="(pot, index) in dset.pots" :key="index"> -->
      <div v-for="(pot, index) in dset.pots">
        <v-divider></v-divider>
        <v-subheader class="display-1">pot {{ pot.id+1 }}</v-subheader>
        <v-list-tile>
          <v-list-tile-content>
            <h3>lighting</h3>
            <p class="text--secondary">switch on/off the light or adjust color</p>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-menu
              :close-on-content-click="false"
              :nudge-width="150"
              left
              origin="bottom left"
              v-model="menu[index]"
              offset-x>
              <v-btn flat color="orange" slot="activator"><v-icon>wb_incandescent</v-icon></v-btn>
              <v-card>
                <v-card-text>
                  <v-list>
                    <v-list-tile>
                      <v-list-tile-content>
                        <p>on/off</p>
                      </v-list-tile-content>
                      <v-list-tile-action>
                        <!-- <v-switch v-model="dset.pots[index].lights"></v-switch> -->
                        <v-switch v-model="pot.lights"></v-switch>
                      </v-list-tile-action>
                    </v-list-tile>
                  </v-list>
                  <color-picker :value="pot.color" @input="getColor"></color-picker>
                  <!-- <color-picker v-model="defaultColor"></color-picker> -->
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn @click="changeColor(index)" :disabled="!pot.lights">select</v-btn>
                </v-card-actions>
              </v-card>
            </v-menu>
          </v-list-tile-action>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-content>
            <h3>water pot</h3>
            <p class="text--secondary">{{ pot.water }}</p>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-btn color="success" @click="water(index)">water</v-btn>
            <!-- <v-switch v-model="pot.lights"></v-switch> -->
          </v-list-tile-action>
        </v-list-tile>
      </div>
      <!-- everything below should be automatic -->
    </v-list>
  </div>
</template>

<script>
import { Sketch } from 'vue-color'

export default {
  components: {
    'color-picker': Sketch
  },
  data: function () {
    return {
      dset: {},
      menu: [false, false, false],
      defaultColor: {r:255, g:255, b:255}
    };
  },
  mounted: function () {
    this.dset = this.updateSettings
  },
  props: {
    updateSettings: { type: Object, required: true}
  },
  watch: { // might need to use mounted to store inits (consider Vuex)
    updateSettings: function (newVal, oldVal) {
      this.dset = newVal
    },
    dset: { handler (newVal, oldVal) {
      this.$emit('update:updateSettings', newVal)
      this.$socket.emit('command', this.dset);
      var str = JSON.stringify(this.dset.pots,null,2)
      console.log(str);
    }, deep: true}
  },
  // computed: {
  //   setColor: function (color) {
  //     console.log(color.rgba);
  //   }
  // },
  methods: {
    getColor(value) {
      // console.log(this.color);
      // emit color
      this.defaultColor = value.rgba
      // this.dset.pots[idx].color = value.rgba
    },
    changeColor(idx) {
      // var str = JSON.stringify(this.defaultColor,null,2)
      // console.log(str);
      this.menu[idx] = false
      // this.$set(this.dset.pots, idx, {color: this.defaultColor})
      this.dset.pots[idx].color = this.defaultColor
    },
    water(idx) {
      var time = new Date()
      var hour = time.getHours().toString().padStart(2,'0')
      var minute = time.getMinutes().toString().padStart(2,'0')
      var sec = time.getSeconds().toString().padStart(2,'0')
      this.dset.pots[idx].water =
        'watered at '+ hour +':'+ minute +':'+ sec;
      // console.log(this.btnState[idx]);
    }
  }
}
</script>
<style scoped>
.display-1 {
  color: #4DB6AC
}
</style>
