<template>
  <div id="inspire" light>
    <v-navigation-drawer
      v-model="drawer"
      clipped
      fixed
      app>
      <v-list dense>
        <v-list-tile @click="setPage(0)">
          <v-list-tile-action>
            <v-icon>dashboard</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Dashboard</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="setPage(1)">
          <v-list-tile-action>
            <v-icon>linked_camera</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>monitor</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="setPage(2)">
          <v-list-tile-action>
            <v-icon>settings</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Settings</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app fixed clipped-left>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Überwachsen</v-toolbar-title>
    </v-toolbar>
    <!-- <v-footer app fixed>
      <span>&copy; 2017</span>
    </v-footer> -->
  </div>
</template>

<script>
export default {
  props: {
    source: String,
    selectedPage: { type: Number, default: 0 }
  },
  data: function () {
    return {
      drawer: true,
      page: 0
    };
  },
  mounted: function () {
    this.page = this.selectedPage
  },
  watch: {
    selectedPage: function (newVal, oldVal) {
      this.page = newVal
    }
  },
  methods: {
    setPage: function (pageNum) {
      this.page = pageNum
      this.$emit('update:selectedPage', pageNum)
      // console.log( this.page );
    }
  }
}
</script>
